/* font 글꼴설정 */
@font-face {
    font-family: macho;
    src: 
        url(~fonts/EF_MACHO.woff) format("woff"),
        url(~/fonts/EF_MACHO.ttf) format("truetype");
}

h1{
    font-family: macho, sans-serif;
}
*{
    font-family: 'Nanum Gothic', sans-serif;
}